@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Tidoredemo';
    src: url('../font/Tidoredemo-gw204.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --cor00: #fff;
    --cor01: #06dbdb;
    --cor02: #09cccc;
    --cor03: #77f5f4;
    --cor04: #60ab99;
    --cor05: #b7d9d9;
    --cor06: #232b2b;
    --cor07: #272d3467;
    --cor08: #686467;
    --cor09: #0F1922;

    --fonte01: 'Playfair Display';
    --fonte02: 'Poppins';
    --fonte03: 'Tidoredemo';
}

header{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 270px;
    background-color: var(--cor07);
    z-index: 2;
}

.logo{
    width: 40%;
}

.logo h1{
    color: var(--cor00);
    font-style: italic;
    font-family: var(--fonte02);
    font-weight: bolder;
    font-size: 2rem;
}

.logo h1:hover{
    color: var(--cor02);
}

.logo-span{
    color: var(--cor02);
}

.header-nav{
    width: 60%;
}

.header-ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
}

li{
    color: var(--cor00);
    font-family: var(--fonte02);
    font-weight: 600;
    cursor: pointer;
}

.nav-icon{
    color: var(--cor00);
    cursor: pointer;
}

li:hover{
    color: var(--cor02);
}

.nav-icon:hover{
    color: var(--cor02);
}

#menuIcon{
    display: none;
    color: var(--cor00);
}

.modal{
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.322);
    position: absolute;
}

.home-container{
    width: 100%;
    height: 110vh;
    background-image: url('../media/gym-bg1.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.intro-container{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-content h1{
    color: var(--cor00);
    font-size: 6rem;
    font-family: var(--fonte02);
    font-style: italic;
    font-weight: bolder;
}

.intro-content b{
    color: var(--cor02);
}

.intro-content button{
    width: 50%;
    height: 40px;
    border: 2px solid var(--cor01);
    background-color: var(--cor02);
    color: var(--cor00);
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--fonte02);
    cursor: pointer;
}

.intro-content button:hover{
    background-color: transparent;
}

.intro-text{
    color: var(--cor05);
    font-family: var(--fonte03);
    font-weight: 100;
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.welcome-container{
    width: 100%;
    height: 90vh;
    background-color: var(--cor06);
    display: flex;
    padding: 0px 100px;
}

.welcome-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.welcome-text-content{
    width: 100%;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.welcome-text-content h2{
    font-family: var(--fonte02);
    color: var(--cor00);
    text-align: left;
    font-size: 3rem;
    font-style: italic;
}

.welcome-text-content b{
    color: var(--cor02);
}

.welcome-text-content span{
    width: 80%;
    font-size: 1.25rem;
    color: var(--cor00);
    text-transform: uppercase;
    font-family: var(--fonte02);
    font-weight: 400;
    padding-bottom: 30px;
}

.welcome-text-content p{
    width: 80%;
    font-size: 1.25rem;
    font-family: var(--fonte02);
    color: var(--cor05);
}

.divider{
    width: 10%;
    border: 1px solid rgba(0, 0, 0, 0.514);
}

.welcome-text-content button{
    width: 40%;
    height: 40px;
    border: 2px solid var(--cor01);
    background-color: var(--cor02);
    color: var(--cor00);
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--fonte02);
    cursor: pointer;
    margin-top: 30px;
}

.welcome-text-content button:hover{
    background-color: transparent;
}

.welcome-card{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-border{
    width: 85%;
    height: 90%;
    border: 5px solid var(--cor02);
}

.welcome-img{
    width: 80%;
    height:100%;
}

.programs-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../media/halter-background.jpg');
    background-size: cover;
}

.programs-container h1{
    color: var(--cor00);
    font-style: italic;
    font-family: var(--fonte02);
    font-weight: bolder;
    font-size: 3rem;
    z-index: 1;
    margin-bottom: 25px;
}

.programs-container b{
    color: var(--cor02);
}

.programs-container p{
    color: var(--cor00);
    z-index: 1;
    text-align: center;
    width: 70%;
    margin-bottom: 35px;
    font-size: 1.1rem;
    font-family: var(--fonte02);
}

.programs-content{
    width: 70%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    z-index: 0;
}

.programs-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid var(--cor02);
}

.programs-card h3{
    color: var(--cor00);
    text-align: center;
    font-family: var(--fonte02);
    font-weight: bold;
}

.programs-card span{
    color: var(--cor03);
    text-align: center;
    font-family: var(--fonte02);
    font-weight: bold;
}

.programs-text-2{
    margin-bottom: 15px;
}

.programs-button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    display: none;
}

.programs-card button{
    width: 50%;
    border: 2px solid var(--cor01);
    background-color: var(--cor02);
    color: var(--cor00);
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--fonte02);
    cursor: pointer;
    margin-bottom: 15px;
}

.programs-card button:hover{
    background-color: transparent;
}

#programs-card-1{
    background-image: url('../media/male-athlete-training-hard-gym.jpg');
    background-size: cover;
    background-position: 80% center;
}

#programs-card-2{
    background-image: url('../media/seo-treinamento-funcional-estresse.jpg');
    background-size: cover;
    background-position: 30% center;
}

#programs-card-3{
    background-image: url('../media/crossfit.jpg');
    background-size: cover;
    background-position: 40% center;
}

#programs-card-1:hover > .programs-button{
    display: flex;
}

#programs-card-2:hover > .programs-button{
    display: flex;
}

#programs-card-3:hover > .programs-button{
    display: flex;
}

.modal-programs{
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
}

footer{
    height: 200px;
    width: 100%;
    background-color: var(--cor09);
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.footer-content p{
    font-size: 1.2rem;
    color: var(--cor00);
}

.footer-content span{
    font-size: 1.5rem;
    display: flex;
    column-gap: 50px;
}

.footer-ico{
    color: var(--cor00);
}

.footer-ico:hover{
    color: var(--cor02);
}

.footer-logo h1{
    color: var(--cor00);
    font-style: italic;
    font-family: var(--fonte02);
    font-weight: bolder;
    font-size: 2.2rem;
    margin-top: 20px;
}

.footer-logo-span{
    color: var(--cor02);
}

.footer-navbar{
    display: none;
}


@media(max-width: 1280px){

    header{
        padding: 0 150px;
    }

    .intro-text{
        text-align: center;
    }

    .welcome-text-content{
        align-items: center;
        row-gap: 8px;
    }

    .welcome-text-content span{
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
        padding-bottom: 0px;
    }

    .welcome-text-content p{
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
    }

    .welcome-text-content h2{
        text-align: center;
        font-size: 2.5rem;
    }

    .square-border{
        height: 80%;
    }

}


@media(max-width: 1024px){

    header{
        padding: 0 100px;
    }

    .intro-content h1{
        font-size: 5rem;
        padding-bottom: 10px;
    }

    .intro-text{
        font-size: 1.5rem;
    }

    .welcome-text h2{
        font-size: 2rem;
    }

    .welcome-text span{
        font-size: 1.1rem;
        width: 100%;
    }

    .welcome-text p{
        font-size: 1.1rem;
        width: 100%;
    }

    .welcome-text button{
        width: 50%;
    }

    .square-border{
        width: 100%;
        margin-left: -50px;
    }

    .programs-content{
        width: 80%;
    }

    .programs-card button{
        width: 60%;
    }

    footer{
        height: 250px;
    }

    .footer-content h1{
        text-align: center;
    }

    .footer-navbar{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .footer-ul{
        width: 100%;
        display: flex;
        column-gap: 25px;
    }

    .footer-ul:hover{
        color: var(--cor02);
    }

}


@media(max-width: 768px){

    header{
        justify-content: space-around;
    }

    .header-ul{
        display: none;
    }

    .header-nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #menuIcon{
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        cursor: pointer;
    }

    #menuIcon:hover{
        color: var(--cor02);
    }

    .home-container{
        background-size: cover;
        height: 90vh;
    }

    .modal{
        height: 90vh;
    }

    .welcome-container{
        padding: 0px 10px;
        height: 80vh;
    }

    .welcome-card{
        padding-left: 20px;
    }

    .welcome-img{
        width: 100%;
    }

    .square-border{
        height: 70%;
        margin-left: 0px;
    }

    .welcome-text-content span{
        font-size: 0.9rem;
    }

    .welcome-text-content p{
        font-size: 0.9rem;
    }

    .welcome-text-content h1{
        font-size: 2.3rem;
    }

    .programs-card button{
        width: 80%;
    }
}


@media(max-width: 450px){

   #menuIcon{
    display: none;
   }

   header{
    justify-content: center;
   }

   .header-nav{
    display: none;
   }

   .modal{
    height: 75vh;
   }

   .home-container{
    height: 75vh;
   }

   .intro-container{
        width: 100%;
   }

   .intro-text{
    font-size: 1rem;
   }
   
   .intro-content h1{
    font-size: 3.4rem;
   }

   .intro-content button{
    height: 25px;
    width: 40%;
    font-size: 0.8rem;
   }

   .welcome-container{
    height: 85vh;
    padding: 0 0px;
    position: relative;
   }

   .welcome-card{
    position: absolute;
    top: 41.3%;
    left: 50%;

    transform: translate(-50%, 0%);

    padding: 0px;
    height: 69%;
   }

   .square-border{
    border-bottom: 0px;
   }

   .welcome-img{
    height: 100%;
   }

   .welcome-text{
    width: 100%;
    padding: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
   }

   .welcome-text-content{
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: absolute;

    top: 4%;
   }

   .welcome-text-content h1{
    font-size: 1.5rem;
    width: 90%;
   }

   .welcome-text-content p{
    font-size: 0.8rem;
    width: 90%;
   }

   .welcome-text-content span{
    font-size: 0.9rem;
    width: 90%;
   }

   .welcome-text-content button{
    font-size: 0.8rem;
    width: 60%;
    height: 25px;
    margin-top: 15px;
   }

   #text-1{
    display: none;
   }

   .programs-container{
    height: 85vh;
   }

   .modal-programs{
    height: 85vh;
   }

   .programs-container h1{
    text-align: center;
    font-size: 2rem;
   }

   .programs-container p{
    font-size: 0.9rem;
    margin-bottom: 15px;
   }

   .programs-content{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    height: 70%;
   }

   .programs-card{
    height: 30%;
   }

   .programs-card h3{
    margin-bottom: 10px;
   }

   .programs-card span{
    display: none;
   }

   .programs-card button{
    width: 60%;
   }

   #programs-card-1{
    background-position: center center;
   }

   #programs-card-2{
    background-position: top;
   }

   #programs-card-3{
    background-position: center 80%;
   }
} 