@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Tidoredemo';
    src: url('../font/Tidoredemo-gw204.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --cor00: #fff;
    --cor01: #06dbdb;
    --cor02: #09cccc;
    --cor03: #77f5f4;
    --cor04: #60ab99;
    --cor05: #b7d9d9;
    --cor06: #232b2b;
    --cor07: #272d3467;
    --cor08: #686467;

    --fonte01: 'Playfair Display';
    --fonte02: 'Poppins';
    --fonte03: 'Tidoredemo';
}

header{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
    background-color: var(--cor07);
    z-index: 2;
}

.logo{
    width: 40%;
}

.logo h1{
    color: var(--cor00);
    font-style: italic;
    font-family: var(--fonte02);
    font-weight: bolder;
    font-size: 2rem;
}

.logo h1:hover{
    color: var(--cor02);
}

.logo-span{
    color: var(--cor02);
}

nav{
    width: 60%;
}

ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
}

li{
    color: var(--cor00);
    font-family: var(--fonte02);
    font-weight: 600;
    cursor: pointer;
}

.nav-icon{
    color: var(--cor00);
    cursor: pointer;
}

li:hover{
    color: var(--cor02);
}

.nav-icon:hover{
    color: var(--cor02);
}

.modal{
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.322);
    position: absolute;
}

.home-container{
    width: 100%;
    height: 110vh;
    background-image: url('../media/gym-bg1.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.intro-container{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-content h1{
    color: var(--cor00);
    font-size: 6rem;
    font-family: var(--fonte02);
    font-style: italic;
    font-weight: bolder;
}

.intro-content b{
    color: var(--cor02);
}

.intro-content button{
    width: 50%;
    height: 40px;
    border: 2px solid var(--cor01);
    background-color: var(--cor02);
    color: var(--cor00);
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--fonte02);
    cursor: pointer;
}

.intro-content button:hover{
    background-color: transparent;
}

.intro-text{
    color: var(--cor05);
    font-family: var(--fonte03);
    font-weight: 100;
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.welcome-container{
    width: 100%;
    height: 90vh;
    background-color: var(--cor06);
    display: flex;
    padding: 0px 100px;
}

.welcome-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    padding-left: 150px;
}

.welcome-text h2{
    font-family: var(--fonte02);
    color: var(--cor00);
    text-align: left;
    font-size: 3rem;
    font-style: italic;
}

.welcome-text b{
    color: var(--cor02);
}

.welcome-text span{
    font-size: 1.25rem;
    color: var(--cor00);
    text-transform: uppercase;
    font-family: var(--fonte02);
    font-weight: 400;
    padding-bottom: 30px;
}

.welcome-text p{
    font-size: 1.25rem;
    color: var(--cor05);
}

.divider{
    width: 10%;
    border: 1px solid rgba(0, 0, 0, 0.514);
}

.welcome-text button{
    width: 50%;
    height: 40px;
    border: 2px solid var(--cor01);
    background-color: var(--cor02);
    color: var(--cor00);
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--fonte02);
    cursor: pointer;
    margin-top: 30px;
}

.welcome-text button:hover{
    background-color: transparent;
}

.welcome-card{
    width: 50%;
    display: flex;
    align-items: end;
}

.square-border{
    width: 85%;
    height: 90%;
    border: 5px solid var(--cor02);
    border-bottom: 0px;
}

.welcome-img{
    width: 80%;
    height: 100%;
}